

page-map {

ion-card {
            max-height: 150px;
            overflow: scroll;
            position: absolute;
            z-index: 1;
        }

  }


#map {
    width: 100%;
    height: 100%;
}


.con {
	background-color: rgba(0,0,0,0);
	color:#FFFFFF;
	}